# populate this file with your own API keys
# then rename to .env when you are done

# not currently used, because we are scraping the data
# but might be implemented in the future
HOLFUY_KEY=

# do not change this
ATTENTIS_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxLCJpYXQiOjE1MzY1NDA2MzF9.-cKeJRU6l1xVDgBoz2uZr0Ry3lFeG2uZHKzV-y2ePgQ

# create an account at https://www.emailjs.com/
# then follow the docs to create your own keys
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=